{% extends "base.html" %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<body style="background-image: url('/imagenes/test7.jpg'); background-size: cover; background-position: center; padding: 20px; margin: 0; color: white;">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center" style="border-radius: 10px; background-color: rgba(0, 0, 0, 0.7); padding: 20px;">
                <h1 class="display-4">¡Bienvenido a mi Proyecto de Películas!</h1>
                <p class="lead">Descubre la lista de Recomendados personal :D</p>
                <!-- Puedes agregar más contenido según sea necesario -->
            </div>
        </div>
    </div>

    <div class="container" style="background-color: rgba(0, 0, 0, 0.7); padding: 20px;">
        <!-- Contenido adicional de la página -->
        <h2>Costó muchísimo</h2>
        <p>Horas viendo la pantalla como dice el profe</p>
        <!-- Puedes agregar más contenido según sea necesario -->
    </div>

</body>
{% endblock %}
