<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Agrega los enlaces de Bootstrap con el tema Darkly -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css">

    <!-- Agrega estilos personalizados para el fondo -->
    <style>
        body {
            background: url('/imagenes/fondo django.gif') no-repeat center center fixed;
            background-size: cover;
        }
        .container {
            background: rgba(0, 0, 0, 0.7); /* Agrega un fondo semi-transparente a tu contenedor */
            padding: 20px;
            border-radius: 10px; /* Añade bordes redondeados */
            color: white; /* Texto blanco para que sea legible en el fondo oscuro */
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Ingresa tus credenciales</h2>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success btn-block mt-3">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Agrega los scripts de Bootstrap aquí -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JhjNlT38j01izVZTRL6Erj8nJwVN9+NVVgh6zVbGO5RWbfsI5/BpOfjObBKaH9dj" crossorigin="anonymous"></script>
</body>
</html>

