<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css">

    
    <style>
        body {
            background: url('/imagenes/fondo django.gif') no-repeat center center fixed;
            background-size: cover;
        }
        .container {
            background: rgba(0, 0, 0, 0.7); 
            padding: 20px;
            border-radius: 10px;
            color: white; 
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Ingresa tus credenciales</h2>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success btn-block mt-3">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



