{% extends "base.html" %}

{% block Peliculas %}Inicio{% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Listado de Peliculas God
    </div>
    <div class="card-body">
        <h4 class="card-title">Peliculas</h4>
        
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    
                    </tr>
                    <tr class="">
                        <td scope="row">1</td>
                        <td>Sherk</td>
                        <td>Image.jpg</td>
                        <td>Ogro God papiandose a un Rey</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Pero mas God one Piece
    </div>
</div>

{% endblock %}